.signIn {
    margin-right: 10%;
    display: flex;
    align-items: center;
}

.trol {
    width: 190px;
    height: 60px;
    margin-right: 4%;
    background-color: white;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.trol:hover {
    border: 1px solid #738678;
    box-shadow: 0 0 1px 3px #867381;
	box-shadow: 0 0 0 3px -moz-mac-focusring;
    font-style: italic;
}

.trol:focus {
    background-color: white;
    border-color: #aaa;
    border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 1px 3px #738678;
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.btn.btn-primary {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    margin-left: 1%;
    height: 60px;
    width: 190px;
    margin-right: -10%;
}

.btn.btn-primary:hover {
    background-color: #867381;
    color: white;
    border: 1px solid #867381;
}