.content {
    background: linear-gradient(#B9C3BB, #B9BBC3, #C3B9C0);
}

header {
    padding-top: 5%;
    padding-left: 5%;
    font-family: 'Raleway', sans-serif;
    
}

#dropdownMenuButton {
    color: black;
    padding: 6px 12px;
    width: 190px;
    height: 60px;
    margin-left: 5%;
}

#dropdownMenuButton:hover {
    background-color: #738678;
    color: white;   
}

footer {
    text-align: left;
    background-color: #738678;
    color: white;
    margin-bottom: 0;
    
    padding: .5%;
    font-family: 'Raleway', sans-serif;
}


.btn.btn-primary {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    margin-left: 1%;
    height: 60px;
    width: 190px;
    
    
}

.btn.btn-primary:hover {
    background-color: #867381;
    color: white;
    border: 1px solid #867381;
}



.container-fluid {
    margin-top: 10%;
    padding-bottom: 50%;
    font-family: 'Raleway', sans-serif;
}

b {
    font-size: 108px;
    color:#738678;
    margin-left: 50%;
}

b:hover {
    color:#867381;
}

form {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    padding-bottom: 5%;
    font-family: 'Raleway', sans-serif;
}

.card {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Raleway', sans-serif;
}

.col-sm {
   

}
.comment-box.collapsed {
    margin-left: 1%;
}
.comment-box.expanded {
    margin-left: 1%;
    color: #867381;
}

textarea {
    width: 125%;
    height: 150%;
    
}

h2, h3 {
    
    padding: 5% 5% 5% 5%;
    background-color: #738678;
    color: white;
    border: .5px solid black;
    border-radius: 5px 5px 5px 5px;
    
}

.item {
    text-decoration: none;
    background-color: #867381;
    color: white;
    border: .5px solid black;
    border-radius: 5px 5px 5px 5px;
    padding: 2%;
}

.item:hover {
    text-decoration: none;
    background-color: transparent;
    color: #867381;
}

p {
    padding: 2%;
    font-size: 24px;
    
}

button.cancel {
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    background-color: #737886;
    color: white;
    padding: 2%;
}

button.cancel:hover {
    background-color: transparent;
    color: #737886;
}

label {
    padding-left: 5%;
}

li {
    padding-left: 3%;
}