.signUp{
    margin-left: 50%;
    border: .5px solid #738678;
    border-radius: 5px 5px 5px 5px;
    padding-top: 4%;
    padding-bottom: -4%;
    padding-left: 8%;
    padding-right: -6%;
    font-family: 'Raleway', sans-serif;
    width: 40%;
    align-items: center;
}
.signUp:hover {
    background-color: #B3A8B0;
}

.control {
    height: 75px;
    width: 75%;
    border: .5px solid #738678;
    border-radius: 5px 5px 5px 5px;
    text-align: center;

}

.control:hover {
    border: 1px solid #738678;
    box-shadow: 0 0 1px 3px #867381;
	box-shadow: 0 0 0 3px -moz-mac-focusring;
    font-style: italic;
    cursor: pointer;
}
control:focus {
    background-color: white;
    border-color: #aaa;
    border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 1px 3px #738678;
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.psignUp {
    text-align: center;
    font-size: 45px;
    text-shadow: 2px 2px 2px 2px white;
}
